/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

.main-container {
  width: 100%;
  max-width: 1444px;
  min-width: 630px;
  padding: 0 50px;
  box-sizing: border-box;
  margin: auto;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header ***********/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-logo {
  padding-top: 15px;
  width: 90px;
  height: 25px;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-link {
  padding-top: 10px;
}

.navbar-link:hover {
  color: var(--main-color);
  border-top: solid 2px var(--main-color);
}

.navbar-first-link {
  margin-right: 70px;
}

/****** Recherche ***********/

/****** Recherche-title ***********/
.recherche-title-container {
  justify-content: center;
  margin: 65px 0 0 0;
}

.recherche-title-1 {
  margin-bottom: 4px;
}

.recherche-title-2 {
  font-size: 1rem;
  font-weight: normal;
}

/****** Recherche-champ ***********/
.recherche-champ {
  display: inline-flex;
  border: solid 1px var(--main-bg-color);
  border-radius: 15px;
  margin-top: 25px;
}

.recherche-champ * {
  border: none;
}

.fa-location-dot {
  color: black;
}

.recherche-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 12px 0 0 12px;
  background-color: var(--main-bg-color);
}

.recherche-form {
  height: 100%;
  align-self: center;
  margin: 10px;
  outline: none;
}

.recherche-input {
  outline: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.recherche-button {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
}

/****** Recherche-filtres ***********/
.recherche-filtres-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0 30px 0;
  gap: 10px;
}

.recherche-filtres-container > h1 {
  font-size: 1.2rem;
}

.recherche-filtres-button {
  border: solid 2px lightgrey;
  background-color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 10px 0 0;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.recherche-filtres-button:hover {
  background-color: var(--filter-bg-color);
}

.filtres-icon {
  margin-right: 10px;
}

/****** Recherche-info ***********/
.recherche-info-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.info-icon {
  display: inline-flex;
  transform: translateY(-2px);
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: solid 1px lightgrey;
  border-radius: 50%;
}

.fa-info {
  font-size: 0.7em;
  position: relative;
  transform: translateY(-2px);
  left: 0.5px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.hebergements-and-populaires section {
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 65%;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards {
  gap: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 33px auto 0 auto;
}

.hebergements-cards img {
  width: 100%;
  height: 112px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.hebergements-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 130%;
}

.hebergements-cards .card-subtitle {
  width: 200px;
  margin: 0 0 5px 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.section-subtitle {
  margin-top: 40px;
}
/****** Populaires ***********/
.populaires {
  background-color: var(--main-bg-color);
  width: 33%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activites ***********/
.activites {
  padding: 25px;
}

.activites-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.activites-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.activites-cards .card {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  margin-top: 33px;
}

.activites-cards img {
  width: 100%;
  height: 420px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.activites-cards .card-title {
  font-size: 1.1rem;
  padding-left: 0.8rem;
}
/****** Footer ***********/
.footer-background {
  height: auto;
  width: 100%;
  background-color: var(--main-bg-color);
  margin-top: 35px;
  margin-bottom: 1px;
}

.footer-container {
  width: 74%;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.footer-container h3 {
  margin: 15px 0 10px 0;
}

.footer-container ul {
  padding-left: 0;
}

.footer-container li {
  list-style-type: none;
  margin-bottom: 12px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/** RESPONSIVE tablettes **/
@media (max-width: 1024px) {
  .card-txt {
    display: flex;
    flex-wrap: wrap;
    max-width: 180px;
  }
  /* tablettes -RECHERCHE- */
  .flex-wrap {
    flex-wrap: wrap;
  }

  .recherche-filtres-button {
    font-size: 1rem;
    padding: 10px;
  }
  /* tablettes -HEBERGEMENTS ET POPULAIRES- */
  .hebergements-and-populaires {
    flex-direction: column;
  }
  /* tablettes -HEBERGEMENTS- */
  .hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .hebergements-cards a {
    flex: 1 1 20%;
  }

  .hebergements-cards .card-title {
    font-size: 1rem;
  }

  .hebergements-cards .card-subtitle {
    font-size: 0.8rem;
  }

  .hebergements-cards .card-content {
    width: 100%;
  }

  /* tablettes -POPULAIRES- */
  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }

  .populaires-cards a {
    flex: 1 1 80%;
  }

  .populaires-cards .card-title {
    font-size: 1rem;
  }

  .populaires-cards .card-subtitle {
    font-size: 0.8rem;
  }
  /* tablettes -ACTIVITES- */
  .activites-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .activites-cards .card {
    margin: 5px;
    height: 220px;
    max-width: 11rem;
  }

  .activites-cards a {
    display: flex;
    flex: 1 1 5%;
  }

  .activites-cards img {
    height: 160px;
    margin-bottom: 0.6rem;
  }

  .activites-cards .card-title {
    flex: 1 1 auto;
    margin: auto 0;
  }

  /* tablettes -FOOTER- */
  .footer-container ul {
    margin: 10px;
    margin-left: 0;
  }
}

/** RESPONSIVE smartphones **/
@media (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* smartphones -MAIN- */
  .main-container {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
  }
  /* smartphones -HEADER- */
  .header-container {
    flex-direction: column;
  }

  .header-logo {
    height: 40px;
    margin-bottom: 20px;
  }
  /* smartphones -NAVBAR- */
  .navbar-container {
    display: flex;
    justify-self: center;
    justify-content: space-around;
    min-width: 40rem;
    width: 100vw;
  }

  .navbar-container a {
    margin: auto;
  }

  .navbar-link {
    margin: 10px;
    border-bottom: solid 2px var(--main-bg-color);
    text-align: center;
    flex: 1 0 50%;
    padding-bottom: 15px;
  }

  .navbar-link:hover {
    border-top: none;
    border-bottom: solid 2px var(--main-color);
  }
  /* smartphones -RECHERCHE- */
  .recherche-title-container {
    margin: 15px 15px 30px 15px;
    max-width: 95vw;
  }

  .flex-container {
    display: flex;
  }

  .recherche-champ {
    max-width: 93vw;
    min-width: 35rem;
    width: 100%;
    margin: auto;
  }

  .recherche-form {
    width: 100%;
  }

  .recherche-button {
    width: 50px;
    border-radius: 12px;
    font-size: 0;
    position: relative;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .recherche-button::after {
    content: "\f002"; /* !Code Unicode pour l'icône de loupe */
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .recherche-filtres-container {
    margin: 30px 0 10px 15px;
  }

  .recherche-filtres-buttons {
    display: flex;
    gap: 10px 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .recherche-filtres-button {
    padding: 30px;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 38%;
    margin: 8px 0;
  }

  .filtres-icon {
    font-size: 25px;
  }

  .recherche-info-container {
    margin: 25px 20px 25px 15px;
  }

  .fa-info {
    transform: translateY(0px);
  }
  /* smartphones -HEBERGEMENTS ET POPULAIRES- */
  main {
    margin: 0;
    padding: 0;
  }

  .section-title {
    font-size: 1.6rem;
  }

  .hebergements-and-populaires {
    width: 100vw;
    min-width: 39rem;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .hebergements-and-populaires section {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  /* smartphones -POPULAIRES- */
  .populaires {
    box-sizing: border-box;
    width: 100vw;
    flex-direction: column;
  }

  .populaires-title {
    margin-bottom: 13px;
  }

  .populaires-cards {
    flex-direction: column;
    padding: 2px;
  }

  .populaires-cards a {
    flex: 1 1 100%;
  }

  .populaires-cards .card {
    width: 100%;
    max-width: 35rem;
    margin: 0.3rem auto;
  }

  .populaires-cards img {
    margin: 2px;
    width: 20%;
    height: 10rem;
  }

  .populaires-cards .card-content .card-txt .card-title {
    min-width: 50vw;
    white-space: nowrap;
  }
  /* smartphones -HEBERGEMENTS- */
  .hebergements {
    background-color: white;
    box-sizing: border-box;
    width: 100vw;
    flex-direction: column;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 15px;
  }

  .hebergements-cards a {
    flex: 1 1 100%;
  }

  .hebergements-cards .card {
    width: 35rem;
    margin: 0.3rem auto;
  }

  .hebergements-cards img {
    margin: 2px;
    width: 34rem;
    height: 10rem;
  }

  .section-subtitle {
    margin: 15px 10px 10px 0;
  }
  /* smartphones -ACTIVITES- */

  .activites {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1 1 100%;
    width: 100%;
  }

  .activites-cards {
    display: flex;
    flex-direction: column;
    margin: 25px 0 0 0;
    gap: 15px;
  }

  .activites-cards .card {
    max-width: none;
    width: 35rem;
    margin: 0.3rem auto;
  }

  .activites-cards a {
    flex: 1 1 80%;
  }

  .activites-cards img {
    width: 35rem;
    height: 10rem;
  }

  .activites-cards .card-title {
    display: flex;
    font-size: 1.4rem;
    margin-top: 0.3rem;
    white-space: nowrap;
  }

  /* smartphones -FOOTER- */
  .footer-container {
    width: 100%;
    flex-direction: column;
  }
  .footer-container ul {
    margin-left: 0;
  }
}
